<!DOCTYPE html>
<html lang="en">
<head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-J0K45PN6B3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-J0K45PN6B3');
</script>
    <meta charset="UTF-8">
    <meta name="description" content="personal website of Aditya Mahadev Prakash">
    <meta name="keywords" content="Aditya, Prakash, Art, Technology">
    <meta name="author" content="Aditya Mahadev Prakash">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/main.css">
    <script type="text/javascript" src="{{'js/main.js'|relative_url}}" defer></script>
</head>
<body>
    <div class="main-container">
    <!-- <div class="cover-text">mahaDeviation</div> -->
    <canvas id="cover-pic"></canvas>
    
    <div class="navbar" id="myNavbar">
        <a href="javascript:void(0);" class="icon" onclick="toggleNavbar()">&#9776;</a>
        <a href="/"> Home</a>
        <a href="/portfolio">Portfolio</a>
        <a href="/blog">Blog</a>
        <a href="#updates">Updates</a>  
    </div>
    
    <div class="content-wrapper">
        <div class="sidebar">
            <canvas id="profilepic"></canvas>
            <div id="sidename"> Aditya Mahadev Prakash</div>
            <br>
            <div id="headline"> Data Scientist, Engineering, Math, Code, Art</div>
            <bR>
            <span id="logodrawer">
            <a href="https://www.linkedin.com/in/aditya-mahadev-prakash-a0523151/" target="_blank"><img src="/images/LI-In-Bug.png" alt="LinkedIN"></a>
            <a href="https://github.com/mahadevprakash90" target="_blank"><img src="/images/github-mark.png" alt="Github"></a>
            <a href="https://scholar.google.com/citations?user=PpuVSqsAAAAJ&hl=en" target="_blank"><img src="/images/gscholar.png" alt="Google Scholar"></a>
        </div>
        <div class="content">
            {{ content }}
        </div>
    </div>

    <canvas id="footer"></canvas>
    
</div>
</body>
</html>
